body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1b1e;
    color: #eee;
}

.board{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.cell{
    display: flex;
    border: 2px solid #1a1b1e;
    background-color: #eee;
    color: #1a1b1e;
    align-items: center;
    justify-content: center;
}