body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0d0d0e;
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 5rem;
    margin: 0 0 2rem;
}

.bigspace{
    margin: 2rem 0 5rem;
}

a {
    text-decoration: none;
    color: #eee;
}

.board{
    display: grid;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(3, 120px);
}

.cell{
    display: flex;
    border: 2px solid #1a1b1e;
    background-color: #eee;
    color: #1a1b1e;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    margin: 0;
}

button{
    border:1px solid #778;
    background-color: #1a1b1e;
    color: #eee;
    border-radius: 30px;
    padding: 8px 12px;
    transition: background-color 0.2s, color 0.2s;
}

.selectedBtn {
    background-color: #ccc;
    color: #1a1b1e;
}

.horizDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.movesDiv{
    margin-top: 1rem;
}

.landingDiv{
    width: 60%;
    justify-content: space-between;
}

.landingCard{
    min-width: 20rem;
    padding: 0 1rem;
    margin: 0.5rem 0;
    gap: 2rem;
    border: 2px solid #ccc;
}

.cardIcon{
    font-size: 6rem;
    margin: 0;
}

.cardContent{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContent h2 {
    margin-bottom: 0.5rem;
}

.cardContent p {
    margin-top: 0.5rem;
}