body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0d0d0e;
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.board{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.cell{
    display: flex;
    border: 2px solid #1a1b1e;
    background-color: #eee;
    color: #1a1b1e;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    margin: 0;
}

button{
    border:1px solid #778;
    background-color: #1a1b1e;
    color: #eee;
    border-radius: 30px;
    padding: 8px 12px;
}